/* ********* */
/* @TYPOGRAPHY */
/* ********* */
@font-face {
    font-family: 'tipografia';
    src: url('../assets/font/Righteous-Regular.woff2') format('woff2'),
         url('../assets/font/Righteous-Regular.woff') format('woff'),
         url('../assets/font/Righteous-Regular.ttf')  format('truetype');
         
  }


.introduccionTexto{
    text-align: center;
    font-size: 19px;
    font-family:'tipografia';
    padding:10px;
}


.textoTerminos{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 12px;
    font-family:'tipografia';
}


.enlaceTerminos{
    color: black;
}