/* ********* */
/* @TYPOGRAPHY */
/* ********* */
@font-face {
    font-family: 'tipografia';
    src: url('../assets/font/Righteous-Regular.woff2') format('woff2'),
         url('../assets/font/Righteous-Regular.woff') format('woff'),
         url('../assets/font/Righteous-Regular.ttf')  format('truetype');
         
  }


.introduccionTexto{
    text-align: center;
    font-size: 100%;
    font-family:'tipografia';
    padding:10px;
}


.textoTerminos{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 12px;
    font-family:'tipografia';
}


.enlaceTerminos{
    color: black;
}

.tituloMitadDerecha{
    font-family: 'tipografia';
    color: white;
    font-size: 40px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    padding-top: 22px;
}

.tituloMitadIzquierda{
    font-family: 'tipografia';
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    
}

.frase{
    font-family: 'tipografia';
    color: white;
    font-size: 16px;
}
// RECORDAR CONTRASEÑA

.recordarContraTitulo{
    
    padding-left: 13px;
    padding-right: 13px;
    font-family: "tipografia";
    font-size: 23px;
}

.recordarContraTexto{
    font-family: "tipografia";
    font-size: 17px;
    
}


.recordarContraAyuda{
    margin-top: 20px;
    font-family: "tipografia";
    font-size: 16px;
    
}

.recordarContraContactame{
    font-family: "tipografia";
    font-size: 16px;
    color: red;
    
    

}


// CONFIRMACION RECORDAR CONTRASEÑA



.recordarContraConfirmacionTitulo{
    
    padding-left: 13px;
    padding-right: 13px;
    font-family: "tipografia";
    font-size: 23px;
}

.recordarContraConfirmacionTexto{
    font-family: "tipografia";
    font-size: 17px;
    margin-bottom: 10px;
}

.recordarContraConfirmacionTexto2{
    font-family: "tipografia";
    font-size: 17px;
    
}


.recordarContraConfirmacionAyuda{
    margin-top: 40px;
    font-family: "tipografia";
    font-size: 16px;
}

.recordarContraConfirmacionContactame{
    font-family: "tipografia";
    font-size: 16px;
    color: red;

}



// CONFIRMACION CONTACTO

.contactoConfirmacionTitulo{
    
    padding-left: 13px;
    padding-right: 13px;
    font-family: "tipografia";
    font-size: 23px;
}

.contactoConfirmacionTexto{
    font-family: "tipografia";
    font-size: 17px;
    margin-bottom: 10px;
}

