/* ********* */
/* @FOOTER */
/* ********* */

.footer{
    position: absolute;
    bottom: 17px;
    width: 100%;
  }
  
  .footerIconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .persona,
  .new,
  .contacto {
    width: 40px;
    height: 40px;
    
  }
  
  