/* ********* */
/* @FOOTER */
/* ********* */

.footer{
  
    bottom: 0px;
    width: 100%;
    padding-top: 50px;
  }
  
  .footerIconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .persona,
  .new,
  .contacto {
    width: 40px;
    height: 40px;
    
  }
  


  // FOOTER DE LA APLICACION

  .footerPersona,
  .footerNew,
  .footerContacto {
    width: 40px;
    height: 40px;
    filter: invert(100%);
  }
  
  