/* ********* */
/* @FORMS */
/* ********* */

.loginFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginEmail {
  margin-top: 20px;
  padding: 3px 5px;
  padding-left: 70px;
  width: 200px;
  height: 35px;
  background: url(../assets/img/svg/iconoCorreo.svg) no-repeat;
  background-size: 35px;
  background-position: 15px center;

  margin-bottom: 40px;
  border: 3px solid black;
}

.loginEmail::placeholder {
  color: black;
  font-family: "tipografia";
  opacity: 40%;
}

.loginContraseña {
  padding: 3px 5px;
  padding-left: 70px;
  width: 200px;
  height: 35px;
  background: url(../assets/img/svg/iconoLlave.svg) no-repeat;
  background-size: 40px;
  background-position: 13px center;
  border: 3px solid black;
}

.loginContraseña::placeholder {
  color: black;
  font-family: "tipografia";
  opacity: 40%;
}

.olvidarContraseña {
  margin-left: 90px;
  margin-top: 20px;
  color: black;
  font-family: "tipografia";
  font-size: 14px;
}

.loginEnviar {
  margin-top: 10px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 3px solid black;
  font-family: "tipografia";
  font-size: 24px;
  color: black;
}

// REGISTRO

.registroFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registroNombre {
  padding: 3px 5px;
  padding-left: 70px;
  width: 200px;
  height: 35px;
  background: url(../assets/img/svg/iconoPersona.svg) no-repeat;
  background-size: 35px;
  background-position: 15px center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid black;
}

.registroNombre::placeholder {
  color: black;
  font-family: "tipografia";
  opacity: 40%;
}

.registroEmail {
  padding: 3px 5px;
  padding-left: 70px;
  width: 200px;
  height: 35px;
  background: url(../assets/img/svg/iconoCorreo.svg) no-repeat;
  background-size: 35px;
  background-position: 15px center;

  margin-bottom: 20px;
  border: 3px solid black;
}

.registroEmail::placeholder {
  color: black;
  font-family: "tipografia";
  opacity: 40%;
}

.registroContraseña {
  padding: 3px 5px;
  padding-left: 70px;
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  background: url(../assets/img/svg/iconoLlave.svg) no-repeat;
  background-size: 40px;
  background-position: 13px center;
  border: 3px solid black;
}

.registroContraseña::placeholder {
  color: black;
  font-family: "tipografia";
  opacity: 40%;
}

.registroEnviar {
  
  border-radius: 20px;
  width: 220px;
  height: 50px;
  background-color: transparent;
  border: 3px solid black;
  font-family: "tipografia";
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registroRepetirContraseña {
  margin-bottom: 20px;
  padding: 3px 5px;
  padding-left: 70px;
  width: 200px;
  height: 35px;
  background: url(../assets/img/svg/iconoLlave.svg) no-repeat;
  background-size: 40px;
  background-position: 13px center;
  border: 3px solid black;
}

.registroRepetirContraseña::placeholder {
  color: black;
  font-family: "tipografia";
  opacity: 40%;
}


// RECORDAR CONTRASEÑA

.recordarContraEmail {
    padding: 3px 5px;
    padding-left: 70px;
    width: 200px;
    height: 35px;
    background: url(../assets/img/svg/iconoCorreo.svg) no-repeat;
    background-size: 35px;
    background-position: 15px center;
    border: 3px solid black;
  }
  
  .recordarContraEmail::placeholder {
    color: black;
    font-family: "tipografia";
    opacity: 40%;
  }


  .recordarContraEnviar {
    margin-top: 10px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 3px solid black;
    font-family: "tipografia";
    font-size: 24px;
    color: black;
    
  }


   // CONFIRMACION RECORDAR CONTRASEÑA

   .recordarContraConfirmacionEmail {
    padding: 3px 5px;
    padding-left: 70px;
    width: 200px;
    height: 35px;
    background: url(../assets/img/svg/iconoCorreo.svg) no-repeat;
    background-size: 35px;
    background-position: 15px center;
    border: 3px solid black;
  }
  
  .recordarContraConfirmacionEmail::placeholder {
    color: black;
    font-family: "tipografia";
    opacity: 40%;
  }


  .recordarContraConfirmacionEnviar {
    margin-top: 10px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 3px solid black;
    font-family: "tipografia";
    font-size: 24px;
    
  }


  // REGISTRO


  .contactoFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .contactoNombre {
    padding: 3px 5px;
    padding-left: 70px;
    width: 200px;
    height: 35px;
    background: url(../assets/img/svg/iconoPersona.svg) no-repeat;
    background-size: 35px;
    background-position: 15px center;
    border: 3px solid black;
  }
  
  .contactoNombre::placeholder {
    color: black;
    font-family: "tipografia";
    opacity: 40%;
  }
  
  .contactoEmail {
    padding: 3px 5px;
    padding-left: 70px;
    width: 200px;
    height: 35px;
    background: url(../assets/img/svg/iconoCorreo.svg) no-repeat;
    background-size: 35px;
    background-position: 15px center;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
  }
  
  .contactoEmail::placeholder {
    color: black;
    font-family: "tipografia";
    opacity: 40%;
  }
  
  
  
  .contactoEnviar {
    
    border-radius: 20px;
    width: 220px;
    height: 50px;
    background-color: transparent;
    border: 3px solid black;
    font-family: "tipografia";
    font-size: 24px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
  
  
  .contactoTextarea{
    resize: none;
    width: 92.5%;
    height: 170px;
    padding: 10px;
  }


  .contactoTextarea::placeholder {
    color: black;
    font-family: "tipografia";
    opacity: 40%;
    
  }