/* ********* */
/* @HEADER */
/* ********* */
.azulContainer {
  background-color: map-get($colores, azul);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;

}

.containerFormularios{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.mitadIzquierda{
  
  height: 100vh;
  
}

.mitadDerecha{
  text-align: center;
  
  height: 100vh;
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureExcuss{
  display: flex;
  justify-content: center;
  align-items: center;
}
.excussImagen {
 
  width: 80%;
}

.excussImagen2 {
 
  width: 80%;
}
.excussImagenForm {
 
  width: 80%;
}

// REGISTRO

.excussPequeñoRegistro {
  width: 140px;
}

// CUENTA

.headerCuenta {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}




// APLICACION

.headerAplicacion{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.excussImagenAplicacion {
  width: 70px;
}


.fotoPerfilAplicacion{
  width: 70px;
  
  filter: invert(100%);
}