/* ********* */
/* @HEADER */
/* ********* */
.azulContainer {
  background-color: map-get($colores, azul);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.excussImagen {
  width: 80%;
}

// REGISTRO

.excussPequeñoRegistro {
  width: 140px;
}

// CUENTA

.headerCuenta {
  display: flex;
  justify-content: end;
  align-items: center;
}

.iconoCerrarSesion {
  margin-left: 80%;
}


// APLICACION

.headerAplicacion{
  display: flex;
}

.excussImagenAplicacion {
  width: 70px;
}


.fotoPerfilAplicacion{
  width: 70px;
  margin-left: 65%;
  filter: invert(100%);
}