/* ********* */
/* @HEADER */
/* ********* */
body {
    background-color: map-get($colores, azul);
  }
  
  .header {
    display: flex;
    justify-content: center;
  }

  .excussImagen{
    width: 170px;
  }