/* ********* */
/* @HEADER */
/* ********* */
body {
    background-color: map-get($colores, azul);
  }
  
  .header {
    display: flex;
    justify-content: center;
  }

  .excussImagen{
    width: 170px;
  }


// REGISTRO

.excussPequeñoRegistro{
  width: 140px;
}


// CUENTA

.headerCuenta{
  display: flex;
  justify-content: end;
  align-items: center;
}


.iconoCerrarSesion{
  margin-left: 80%;
  
}