/* ********* */
/* @MAIN */
/* ********* */

.main{
    display: flex;
    justify-content: center;
    

}

.cajaIntroduccion{
    width: 84%;
    padding-left: 8px;
    padding-right: 8px;
    height: 28rem;
    border-radius: 10px;
    border: 3px solid black;
    background-color: map-get($colores, colorCaja);
}

.sectionBotonEmpezar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// LOGIN

.loginMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.loginCaja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 84%;
    padding-left: 8px;
    padding-right: 8px;
    height: 19rem;
    border-radius: 10px;
    border: 3px solid black;
    background-color: map-get($colores, colorCaja);
}




.crearCuenta{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    width: 84%;
    padding-left: 8px;
    padding-right: 8px;
    height: 6rem;
    background-color: map-get($colores, colorCaja);
    border: 3px solid black;
}

.crearCuentaParrafo{
    font-family: "tipografia";
    color: black;
    font-size: 30px;
    margin-top: -5px;
}

.crearCuentaEnlace{
    color: red;
    margin-top: -20px;
    text-decoration: none;
    font-size: 25px;
    font-family: "tipografia";

}

// REGISTRO


.registroMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.registroCaja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 84%;
    padding-left: 8px;
    padding-right: 8px;
    height: 27rem;
    background-color: map-get($colores, colorCaja);
    border: 3px solid black;
    border-radius: 10px;
}


// RECORDAR CONTRASEÑA

.recordarContraMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recordarContraCaja{
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    width: 84%;
    padding-left: 8px;
    padding-right: 8px;
    border: 3px solid black;
    background-color: map-get($colores, colorCaja);
}


// CONFIRMACION RECORDAR CONTRASEÑA


.recordarContraConfirmacionMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recordarContraConfirmacionCaja{
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 26rem;
    width: 84%;
    padding-left: 8px;
    padding-right: 8px;
    border: 3px solid black;
    background-color: map-get($colores, colorCaja);
}